<template>
  <div>
    <!-- banner 開始 -->
    <div class="banner">
      <img :src="currentBanner">
      <a href="#mb-about">
        <span class="findOutMore">{{$t('findOutMore')}}</span>
      </a>
    </div>
    <!-- banner 結束 -->
    <!-- about 開始 -->
    <div class="about" id="mb-about">
      <Row type="flex">
        <Col span="24">
          <h3>{{$t('about')}}</h3>
        </Col>
        <Col span="16" class="about_img">
          <img src="../../assets/mobile/ak_mb_logo_v.png">
        </Col>
        <Col span="24" class="about_text">
          <p>{{$t('aboutText')}}</p>
        </Col>
      </Row>
    </div>
    <!-- about 結束 -->
    <!-- join us 開始 -->
    <div class="join" id="mb-join">
      <Row type="flex">
        <Col span="24">
          <img src="../../assets/mobile/02_mb_bg.png" alt="">
        </Col>
        <Col class="text" span="24">
          <h3>{{$t('join')}}</h3>
          <p>{{$t('joinText')}}</p>
        </Col>
        <Button @click="toAkUrl" type="primary" size="large">{{$t('more')}}</Button>
      </Row>
    </div>
    <!-- join us 結束 -->
    <!-- Research / Entrustment / Finance 開始 -->
    <div
      :class="`info ${item.title}`"
      v-for="item in infoList"
      :key="item.title"
      :style="`background: ${item.backgroundColor}`">
      <Row>
        <Col span="24">
        <h3>{{$t(`${item.title}Title`)}}</h3>
        </Col>
        <Col span="24">
          <img :src="item.img">
        </Col>
        <Col span="24">
          <p>{{$t(`${item.title}Content`)}}</p>
        </Col>
      </Row>
    </div>
    <!-- Research / Entrustment / Finance 結束 -->
    <!-- chooseUs 開始 -->
    <div class="chooseUs">
      <Row>
        <Col span="24">
          <h3>{{$t('chooseUsTitle')}}</h3>
        </Col>
        <Col span="24">
          <img src="../../assets/mobile/06_mb_bg.png" alt="chooseUs image">
        </Col>
        <Col
          span="24"
          class="chooseUsitem"
          :class="item.title"
          v-for="(item, index) in chooseUsList"
          :key="index"
          :style="`background: ${item.backgroundColor}`"
          >
            <p :class="(index % 2 === 0)?'textRight':'textLeft'">{{$t(item.title)}}</p>
            <div class="chooseUsImg">
              <img :src="item.img">
            </div>
        </Col>
      </Row>
    </div>
    <!-- chooseUs 結束 -->
  </div>
</template>

<script>
import bannerEN from '@/assets/mobile/00_mb_pic_en.png'
import bannerES from '@/assets/mobile/00_mb_pic_es.png'
import bannerTH from '@/assets/mobile/00_mb_pic_th.png'
import bannerVI from '@/assets/mobile/00_mb_pic_vn.png'
import bannerCN from '@/assets/mobile/00_mb_pic_zh.png'
import researchImg from '@/assets/mobile/03_mb_bg.png'
import entrustmentImg from '@/assets/mobile/04_mb_bg.png'
import financeImg from '@/assets/mobile/05_mb_bg.png'
import enjoyable from '@/assets/mobile/icon_mb_enjoyable.png'
import professional from '@/assets/mobile/icon_mb_professional.png'
import reliable from '@/assets/mobile/icon_mb_reliable.png'
import safe from '@/assets/mobile/icon_mb_safe.png'
export default {
  data () {
    return {
      bannerList: {
        bannerEN,
        bannerES,
        bannerTH,
        bannerVI,
        bannerCN
      },
      locale: '',
      infoList: [
        {
          title: 'research',
          img: researchImg,
          backgroundColor: '#093357'
        },
        {
          title: 'entrustment',
          img: entrustmentImg,
          backgroundColor: '#dad7d2'
        },
        {
          title: 'finance',
          img: financeImg,
          backgroundColor: '#2a4667'
        }
      ],
      chooseUsList: [
        {
          title: 'professional',
          img: professional,
          backgroundColor: '#152a37'
        },
        {
          title: 'reliable',
          img: reliable,
          backgroundColor: '#2e5872'
        },
        {
          title: 'safe',
          img: safe,
          backgroundColor: '#379bb4'
        },
        {
          title: 'enjoyable',
          img: enjoyable,
          backgroundColor: '#67c5bd'
        }
      ]
    }
  },
  mounted () {
    this.setLocale()
  },
  computed: {
    currentBanner () {
      const locale = this.locale.toUpperCase()
      let currentBanner = ''
      const keys = Object.keys(this.bannerList)
      keys.forEach(key => {
        if (key.includes(locale)) {
          currentBanner = this.bannerList[key]
        }
      })
      return currentBanner
    }
  },
  methods: {
    setLocale () {
      this.locale = sessionStorage.getItem('locale')
    },
    toAkUrl () {
      const url = `${window.location.protocol}//${window.location.host}`
      window.location = url
    }
  }
}
</script>
<style>
#mobile-id .banner{
  position: relative;
  background-color: #22242a;
}
#mobile-id .findOutMore{
  color: #2d8cf0;
  font-size: 14px;
  position: absolute;
  right: 50%;
  bottom: 20px;
  transform: translateX(50%);
}
#mobile-id .ivu-layout-content .ivu-row-flex{
  flex-direction: column;
  align-items: center;
}
#mobile-id .ivu-layout-content h3{
  font-size: 21px;
  color: #000;
  text-align: center;
}
#mobile-id .ivu-layout-content p{
  font-size: 14px;
  color: #000;
  font-weight: 500;
}
#mobile-id .about h3,
#mobile-id .about p,
#mobile-id .info h3,
#mobile-id .info p,
#mobile-id .chooseUs h3,
#mobile-id .chooseUs p{
  color: #fff;
}
#mobile-id .about{
  padding: 20px 6%;
  background-color: #22242a;
}
#mobile-id .about .about_img{
  padding: 20px 0;
}
#mobile-id .about .about_text{
  padding: 10px 0;
}
#mobile-id .join{
  position: relative;
}
#mobile-id .join .text{
  position: absolute;
  top: 15px;
  text-align: center;
}
#mobile-id .join .ivu-btn{
  position: absolute;
  bottom: 30px;
  background-color: #117bb8;
  width: 90%;
  border-radius: 10px;
}
#mobile-id .join .ivu-btn:hover{
  background-color: #07537e;
}
#mobile-id .info h3,
#mobile-id .chooseUs h3{
  margin: 20px 0;
}
#mobile-id .info p{
  margin: 30px 0;
  padding: 0 5%;
}
#mobile-id .entrustment h3,
#mobile-id .entrustment p{
  color: #000;
}
#mobile-id .chooseUs{
  background-color: #152a37;
}
#mobile-id .chooseUsitem{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10% 0;
}
#mobile-id .chooseUsitem p{
  font-size: 16px;
}
#mobile-id .chooseUsitem .chooseUsImg{
  width: 40%;
  display: flex;
  align-items: center;
}
#mobile-id .chooseUsitem.safe{
  padding: 16% 0;
}
#mobile-id .chooseUsitem .textLeft{
  margin-right: 15%
}
#mobile-id .chooseUsitem .textRight{
  order: 1;
  margin-left: 15%;
}
</style>>
