<template>
  <div id='mobile-id'>
    <Layout :style="{minHeight: '100vh'}">
      <Header>
        <Row>
          <Col span="18" class="akLogo">
              <img src="../../assets/platformConfig/ak_logo_h.png" alt="ak_logo">
          </Col>
          <Col span="6" offset="19" class="langSelect">
            <Select @on-change="langChange" v-model="$i18n.locale" class="width-100">
              <Option
                  :key="index"
                  v-for="(item, index) in locale"
                  :label="item"
                  :value="index">
              </Option>
            </Select>
          </Col>
        </Row>
      <!-- menu 開始 -->
        <Row class="menu" type="flex" justify="space-between">
          <Col span="8" v-for="item in menuList" :key="item.text">
            <a :href="item.path">{{$t(item.text)}}</a>
          </Col>
        </Row>
      <!-- menu 結束 -->
      </Header>
      <Layout>
        <Content>
          <transition name="fade-transform" mode="out-in">
              <router-view />
          </transition>
        </Content>
      </Layout>
      <!-- footer 開始 -->
      <Footer>
        <Row type="flex" justify="center">
          <Col span="24">
            <p>{{$t('Copyright')}}</p>
          </Col>
        </Row>
      </Footer>
      <!-- footer 結束 -->
      <BackTop :height="100" :bottom="100" :right="10">
        <img class="backTop_img"
          src="../../assets/mobile/mb_go_top.png">
      </BackTop>
    </Layout>
  </div>
</template>

<script>
import { mutations } from '@/util/burger.js'
import { localeMap } from '@/util/locale'
import platformConfig from '@/config/PlatformConfig'
import { defaultRoute } from '@/main'

export default {
  data () {
    return {
      allRoutes: defaultRoute[0].children,
      locale: platformConfig.locale,
      localeSelect: '',
      menuList: [
        {
          text: 'home',
          path: '#index'
        },
        {
          text: 'about',
          path: '#mb-about'
        },
        {
          text: 'join',
          path: '#mb-join'
        }
      ]
    }
  },
  methods: {
    closeSidebarPanel: mutations.toggleNav,
    backToIndex () {
      this.$router.push({
        path: '/mobile/index'
      })
      Object.keys(this.$refs).forEach(key => {
        this.$refs[key] = false
      })
      this.$refs.Index = true
    },
    changePage (item) {
      this.$router.push({
        path: item.path
      })
      Object.keys(this.$refs).forEach(key => {
        this.$refs[key] = false
      })
      this.$refs[item.name] = true
      // console.log(this.$refs)
      this.closeSidebarPanel()
    },
    langChange (value) {
      sessionStorage.setItem('locale', value)
      this.localeSelect = localeMap[value]
      this.closeSidebarPanel()
      window.location.reload()
    }
  }
}
</script>

<style>
#mobile-id .ivu-layout-header{
  background-color: #000;
  height: initial;
  padding: 0 10%;
}
#mobile-id .ivu-layout-header .langSelect{
  transform: translateY(15%);
  z-index: 9
}
#mobile-id .ivu-layout-header .ivu-select{
  color: #fff;
  font-size: 14px;
}
#mobile-id .ivu-select-selection{
  background: #0a1b2b;
  border: none;
  border-radius: 8px;
}
#mobile-id .ivu-select-dropdown{
  background: #0a1b2b;
}
#mobile-id .ivu-select-item{
  color: #fff;
}
#mobile-id .ivu-select-item:hover{
  background: #1f4c76;
}
#mobile-id .menu{
  text-align: center;
}
#mobile-id .ivu-layout-header .akLogo{
  position: absolute;
  top: -5%;
  left: -5%;
}
#mobile-id .ivu-layout-header .ivu-col a{
  color: #fff;
}
#mobile-id .ivu-layout-header .ivu-col a:hover{
  color: #2d8cf0;
}
#mobile-id .ivu-layout-footer{
  background-color: #000;
  color: #fff;
  padding: 25px 0;
  text-align: center;
}
#mobile-id .ivu-layout-footer p{
  font-size: 12px;
}
#mobile-id .ivu-back-top {
  width: 40px;
}
</style>
