<template>
  <div>
    <!-- banner 開始 -->
    <div class="banner">
      <img :src="currentbanner">
      <a href="#pc-about">
        <span class="findOutMore">{{$t('findOutMore')}}</span>
      </a>
    </div>
    <!-- banner 結束 -->
    <!-- about 開始 -->
    <div class="about" id="pc-about">
      <Row type="flex">
        <Col span="10">
          <div>
            <h3>{{$t('about')}}</h3>
            <p>{{$t('aboutText')}}</p>
          </div>
        </Col>
        <Col span="10">
          <div class="akLogo">
            <img src="../../assets/pc/ak_logo_v.png">
          </div>
        </Col>
      </Row>
    </div>
    <!-- about 結束 -->
    <!-- join us 開始 -->
    <div class="join" id="pc-join">
      <Row type="flex">
        <Col span="8">
          <div>
            <h3>{{$t('join')}}</h3>
            <p>{{$t('joinText')}}</p>
          </div>
          <Button @click="toAkUrl" type="primary" size="large">{{$t('more')}}</Button>
        </Col>
        <Col span="12">
          <div>
            <img src="../../assets/pc/02_bg.png">
          </div>
        </Col>
      </Row>
    </div>
    <!-- join us 結束 -->
    <!-- Research / Entrustment / Finance 開始 -->
    <div :class="`info ${item.title}`" v-for="item in infoList" :key="item.title">
      <div class="text">
        <h3>{{$t(`${item.title}Title`)}}</h3>
        <p>{{$t(`${item.title}Content`)}}</p>
      </div>
      <div>
        <img :src="item.img">
      </div>
    </div>
    <!-- Research / Entrustment / Finance 結束 -->
    <!-- chooseUs 開始 -->
    <div class="chooseUs">
      <div>
        <img src="../../assets/pc/06_bg.png" alt="chooseUs background">
      </div>
      <div class="chooseUsList">
        <h1>{{$t('chooseUsTitle')}}</h1>
        <Row type="flex">
          <Col span="6" v-for="item in chooseUsList" :key="item.title">
            <div :class="item.title">
              <img :src="item.img">
            </div>
            <h5>{{$t(item.title)}}</h5>
          </Col>
        </Row>
      </div>
    </div>
    <!-- chooseUs 結束 -->
  </div>
</template>
<script>
import bannerEN from '@/assets/pc/00_pic_en.png'
import bannerES from '@/assets/pc/00_pic_es.png'
import bannerTH from '@/assets/pc/00_pic_th.png'
import bannerVI from '@/assets/pc/00_pic_vn.png'
import bannerCN from '@/assets/pc/00_pic_zh.png'
import researchImg from '@/assets/pc/03_bg.png'
import entrustmentImg from '@/assets/pc/04_bg.png'
import financeImg from '@/assets/pc/05_bg.png'
import enjoyable from '@/assets/pc/icon_enjoyable.png'
import professional from '@/assets/pc/icon_professional.png'
import reliable from '@/assets/pc/icon_reliable.png'
import safe from '@/assets/pc/icon_safe.png'
export default {
  data () {
    return {
      bannerList: {
        bannerEN,
        bannerES,
        bannerTH,
        bannerVI,
        bannerCN
      },
      infoList: [
        {
          title: 'research',
          img: researchImg
        },
        {
          title: 'entrustment',
          img: entrustmentImg
        },
        {
          title: 'finance',
          img: financeImg
        }
      ],
      chooseUsList: [
        {
          title: 'professional',
          img: professional
        },
        {
          title: 'reliable',
          img: reliable
        },
        {
          title: 'safe',
          img: safe
        },
        {
          title: 'enjoyable',
          img: enjoyable
        }
      ],
      locale: ''
    }
  },
  mounted () {
    this.setLocale()
  },
  methods: {
    setLocale () {
      this.locale = sessionStorage.getItem('locale')
    },
    toAkUrl () {
      const url = `${window.location.protocol}//${window.location.host}`
      window.location = url
    }
  },
  computed: {
    currentbanner () {
      const locale = this.locale.toUpperCase()
      let currentbanner = ''
      const keys = Object.keys(this.bannerList)
      keys.forEach(key => {
        if (key.includes(locale)) {
          currentbanner = this.bannerList[key]
        }
      })
      return currentbanner
    }
  }
}
</script>
<style>
#pc-id .banner{
  position: relative;
  background-color: #22242a;
}
#pc-id .findOutMore{
  color: #00b4ff;
  font-size: 24px;
  position: absolute;
  right: 50%;
  bottom: 50px;
  transform: translateX(50%);
}
#pc-id .ivu-layout-content .ivu-row-flex{
  justify-content: center;
  align-items: center;
}
#pc-id .ivu-layout-content h3{
  font-size: 42px;
  color: #000;
}
#pc-id .ivu-layout-content p{
  font-size: 16px;
  color: #000;
  font-weight: 500;
  padding: 20px 12% 0 0;
}
#pc-id .about{
  padding: 100px 0;
  background-color: #22242a;
}
#pc-id .about .akLogo{
  width: 70%;
  margin-left: 20%;
}
#pc-id .about h3,
#pc-id .about p,
#pc-id .info h3,
#pc-id .info p,
#pc-id .chooseUsList .ivu-col h5,
#pc-id .chooseUsList h1{
  color: #fff;
}
#pc-id .join{
  background-color: #fff;
}
#pc-id .join p{
  margin-bottom: 10px;
  font-weight: bold;
  padding: 0
}
#pc-id .join .ivu-btn{
  background-color: #117bb8;
  width: 150px;
  border-radius: 10px;
}
#pc-id .join .ivu-btn:hover{
  background-color: #07537e;
}
#pc-id .info{
  position: relative;
}
#pc-id .info .text{
  width: 40%;
  position: absolute;
  left: 8%;
  top: 10%;
}
#pc-id .entrustment h3,
#pc-id .entrustment p{
  color: #000;
}
#pc-id .chooseUs{
  position: relative;
}
#pc-id .chooseUsList{
  width: 80%;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%,-50%);
  text-align: center;
}
#pc-id .chooseUsList .ivu-row-flex{
  margin: 50px 0;
}
#pc-id .chooseUsList h1{
  font-size: 42px;
}
#pc-id .chooseUsList .ivu-col > div{
  padding: 40px;
  height: 300px;
}
#pc-id .chooseUsList .ivu-col h5{
  font-size: 20px;
  margin-top: 20px;
}
#pc-id .chooseUsList .ivu-col img{
  height: 100%;
  width: auto;
}
#pc-id .chooseUsList .ivu-col .safe img{
  height: 70%;
}
</style>
