<template>
  <div id='pc-id'>
    <Layout :style="{minHeight: '100vh'}">
      <Header>
        <Row type="flex">
          <Col span="7">
              <img src="../../assets/platformConfig/ak_logo_h.png" alt="ak_logo">
          </Col>
          <Col span="3">
            <Select @on-change="langChange" v-model="$i18n.locale">
              <Option
                  :key="index"
                  v-for="(item, index) in locale"
                  :label="item"
                  :value="index">
              </Option>
            </Select>
          </Col>
        </Row>
      <!-- menu 開始 -->
        <Row type="flex" class="menu">
          <Col v-for="item in menuList" :key="item.text" span="5">
            <a :href="item.path">{{$t(item.text)}}</a>
          </Col>
        </Row>
      <!-- menu 結束 -->
      </Header>
      <Content>
        <router-view />
      </Content>
      <!-- footer 開始 -->
      <Footer>
        <Row type="flex" justify="center">
          <Col span="24">
            <span>{{$t('Copyright')}}</span>
          </Col>
        </Row>
      </Footer>
      <!-- footer 結束 -->
      <BackTop :height="100" :bottom="100" :right="40">
        <img
          @mouseenter="isBackTopBottonHover= true"
          @mouseout="isBackTopBottonHover= false"
          class="backTop_img"
          :src="(isBackTopBottonHover)?backTopBottonImg_hover:backTopBottonImg">
      </BackTop>
    </Layout>
  </div>
</template>

<script>
import backTopBottonImg from '@/assets/pc/go_top.png'
import backTopBottonImgHover from '@/assets/pc/go_top_pre.png'
import { localeMap } from '@/util/locale'
import platformConfig from '@/config/PlatformConfig'
import { defaultRoute } from '@/main'

export default {
  data () {
    return {
      backTopBottonImg,
      backTopBottonImg_hover: backTopBottonImgHover,
      isBackTopBottonHover: false,
      allRoutes: defaultRoute[0].children,
      locale: platformConfig.locale,
      localeSelect: '',
      menuList: [
        {
          text: 'home',
          path: '#index'
        },
        {
          text: 'about',
          path: '#pc-about'
        },
        {
          text: 'join',
          path: '#pc-join'
        }
      ]
    }
  },
  methods: {
    langChange (value) {
      sessionStorage.setItem('locale', value)
      this.localeSelect = localeMap[value]
      window.location.reload()
    }
  }
}
</script>
<style>
#pc-id .ivu-layout-header{
  height: initial;
  background-color: #000;
  padding: 0 10%;
}
#pc-id .ivu-layout-header .ivu-row-flex{
  justify-content: space-between;
}
#pc-id .ivu-layout-header .ivu-col {
  text-align: center;
}
#pc-id .ivu-layout-header .ivu-col a{
  color: #fff;
}
#pc-id .ivu-layout-header .ivu-col a:hover{
  color: #2d8cf0;
}
#pc-id .ivu-layout-header .ivu-select{
  color: #fff;
  font-size: 14px;
  width: 100px;
  text-align: left;
}
#pc-id .ivu-select-selection{
  background: #0a1b2b;
  border: none;
  border-radius: 8px;
}
#pc-id .ivu-select-dropdown{
  background: #0a1b2b;
}
#pc-id .ivu-select-item{
  color: #fff;
}
#pc-id .ivu-select-item:hover{
  background: #1f4c76;
}
#pc-id .menu{
  padding: 0 25%
}
#pc-id .ivu-layout-footer{
  background-color: #000;
  color: #fff;
  padding: 65px 0 35px 0;
  text-align: center;
}
#pc-id .ivu-back-top {
  width: 50px;
}
</style>
