<template>
  <div :id="appId">
    <router-view/>
  </div>
</template>

<script>
import platformConfig from './config/PlatformConfig'
export default {
  name: 'App',
  mounted () {
    document.title = this.$t(this.title)
  },
  data () {
    return {
      appId: platformConfig.appId,
      title: platformConfig.title
    }
  }
}
</script>

<style>
/* 拼音文字不斷字 開始 */
.main,
.v-transfer-dom,
.ivu-notice{
  word-wrap: break-word;
}
.ivu-table-cell {
  word-break: break-word;
}
/* 拼音文字不斷字 結束*/
/* 共用區開始 */
.width-100 {
  width: 100%;
}
img{
  vertical-align: middle;
  width: 100%;
}
/* 共用區結束 */
/* 選單共用開始 */
/* 選單共用結束 */
/* PC版選單(header)開始 */
/* PC版選單(header)結束 */
/* Mobile漢堡選單開始，不要的話可以整排刪掉 */
/* Mobile漢堡選單結束，不要的話可以整排刪掉 */
</style>
